@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900|Montserrat:900');

:root {
  --primary-color: #FFAC00;
  --primary-color-hover: #d38c00;
  --primary-color-light: #701598;
  --background-color: #282828;
}

body {
	font-size: 1.2rem;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
	background-color: #4b4b4b;
	border-radius: 10px;
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	  background-color: var(--primary-color-hover);
  }

:global * {
  box-sizing: border-box;
}

:global html {
  color: #cfcfcf;
  font: 100%/1.75 Morriweather, Georgia, serif;
  background-color: var(--background-color);
}

:global body {
  font-kerning: normal;
  font-family: 'Merriweather','Georgia',serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

:global(pre),
:global(code) {
  font-family: Consolas, Menlo, Monaco, source-code-pro, "Courier New", monospace;
  font-size: 0.85rem;
  line-height: 1.5;

}

:global pre {
  border-radius: 10px;
  overflow: auto;
  padding: 1em;
}

:global a {
  color: var(--primary-color);
}
:global a:hover {
  text-decoration: none;
}

:global p,
:global pre,
:global ul,
:global ol {
  margin-top: 0;
  margin-bottom: 1.75rem;
}
